.l-page:before {
	@extend %theme-banner;

	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 60px;
}

.l-header, .l-footer {
	@include container;

	nav {
		@include column(16, true);
	}
}

.l-header {
	position: relative;
	margin-bottom: 25px;
}

.l-game {
	@include container;

	& .l-game-wrapper {
		@include column(16, true);
	}
}