$font-monospace: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
/**
 * Colors by name.
 * These colors are not to be used outside of the theme file. They are basically
 * our color palette.
 */

// Greens
$color-xanadu: #6D8063;
$color-bahia: #93BD20;
$color-fruit-salad: #659E10;
$color-vida-loca: #5D910B;
$color-bilbao: #527F0E;
$color-limeade: #749619;

$color-black: #000000;
$color-nero: #282828;
$color-fuscous-grey: #383838;
$color-bleached-cedar: #484848;
$color-white: #FFFFFF;

%font-monospace {
	font-family: $font-monospace;
}

%theme-body {
	background: $color-nero;
}

%theme-banner {
	@include box-shadow(rgba($color-black, 0.25) 0 1px 3px);

	background: url(../images/nav-bg.gif) $color-fuscous-grey;
	border-bottom: 4px solid $color-bleached-cedar;
}

%theme-game-wrapper {
	@include box-shadow(rgba($color-black, 0.6) 0 0 15px 2px);

	border: 2px solid $color-fuscous-grey;
}

%theme-game-toolbar {
	color: $color-white;
	background: $color-fuscous-grey;
	border-top: 1px solid $color-bleached-cedar;
	border-bottom: 1px solid $color-bleached-cedar;
}

%theme-form-button {
	@include text-shadow(0px 1px 0px rgba($color-black, 0.2));

	font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	list-style: none;
	display: inline;
	color: $color-white;

	font-size: 14px;

	@include background(linear-gradient($color-bahia, $color-fruit-salad));
	@include border-radius(2px);
	@include box-shadow(rgba($color-white, 0.3) 0px 1px 0px 0px inset, rgba($color-black, 0.7) 0px 3px 7px);

	color: $color-white;
	border: 1px solid $color-vida-loca;
	background-color: $color-bahia;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	text-decoration: none;
	
	&:hover {
		@include background(linear-gradient($color-limeade, $color-bilbao));
		@include box-shadow(rgba($color-black, 0.3) 0px 1px 1px 0px inset, transparent 0px 1px 0px);

		background-color: $color-fruit-salad;
		border: 1px solid $color-bilbao;
	}
}

/**
 * Navigation Related Theme Styles
 */
%theme-nav-button {
	@include text-shadow(0px 1px 0px rgba($color-black, 0.2));

	font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	list-style: none;
	display: inline;
	color: $color-white;

	font-size: 14px;

	a {
		@include background(linear-gradient($color-bahia, $color-fruit-salad));
		@include border-radius(2px);
		@include box-shadow(rgba($color-white, 0.3) 0px 1px 0px 0px inset, rgba($color-black, 0.7) 0px 3px 7px);

		color: $color-white;
		border: 1px solid $color-vida-loca;
		background-color: $color-bahia;
		font-size: 14px;
		text-align: center;
		font-weight: 400;
		text-decoration: none;
	}
	a:hover {
		@include background(linear-gradient($color-limeade, $color-bilbao));
		@include box-shadow(rgba($color-black, 0.3) 0px 1px 1px 0px inset, transparent 0px 1px 0px);

		background-color: $color-fruit-salad;
		border: 1px solid $color-bilbao;
	}
}

