/**
 * A lot of inspiration came from the SMACSS book: https://smacss.com
 */
@import "normalize";
@import "blueprint/grid";
@import "blueprint/debug";
@import "compass/utilities";
@import "compass/css3";

$blueprint-grid-columns: 16;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;
$blueprint-grid-outer-width: $blueprint-grid-width + $blueprint-grid-margin;

@import "mixins";
@import "theme";
@import "classes";
@import "base";
@import "layout";

@import "module/navigation";
@import "module/forms";
@import "module/gameComponents";