<script>
(function() {
	function Spell(Game) {
		var requirejs = null;
		var require = null;
		var define = null;
		// We're gona capture some stuff!
		var captured = {};
		{{#capture}}
		var {{variable}}; // Define in case the user doesn't
		{{/capture}}

		{{#exposed}}
		var {{key}} = Game["{{key}}"];
		{{/exposed}}

		{{{spell}}}

		// Capture all the variables
		{{#capture}}
		captured["{{variable}}"] = {{variable}};
		{{/capture}}

		return {
			getCaptured: function () {
				return captured;
			},
			executeHooks: function (SpellHooksCollection) {
				SpellHooksCollection.each(_.bind(function (SpellHookModel) {
					SpellHookModel.execute(captured);
				}, this));
			}
		};
	}

	requirejs(['app/app'], function (App) {
		var spell = new Spell(App.exposed);
		spell.executeHooks(App.SpellHooksCollection);
	});
}());
</script>