<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<div class="l-page">
	<header class="l-header">
		<nav class="l-nav">
			<ul>
				<li class="l-nav-button"><a href="#">Link One</a></li>
				<li class="l-nav-button"><a href="#">Link Two</a></li>
			</ul>
		</nav>
	</header>
	<div class="l-game">
		<div class="l-content-wrapper">{{>body}}</div>
	</div>
	<footer class="l-footer">

	</footer>
</div>