<div class="l-game-wrapper">
	<div class="fps"></div>
	<div class="widget-game-dialog" class="dialog"></div>
	<div class="widget-inventory"></div>
	<div id="cr-stage"></div>
	<div class="l-game-toolbar">
		<button class="l-button cast" name="cast-spell">Cast</button>
		<div class="l-toolbar-runes"></div>
	</div>
	<div class="spell-editor"></div>
</div>