<div class="l-game-wrapper">
	<div id="cr-stage"></div>
	<div class="l-game-toolbar">
		<button class="l-button" name="cast-spell">Cast</button>
	</div>
	<div class="l-editor-shade"></div>
	<div id="game-editor"></div>
</div>